#jumbotron {
    text-align: center;
    background-color: #ebe5d533;
    border:3px solid rgb(151, 165, 122);
    border-style: solid;
    border-width: thick;
}
#heads, #tails {
    background-color: white;
    border:3px solid rgb(211, 230, 173);
    border-radius: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
#heads:hover, #tails:hover  {
    background-color:rgba(92, 102, 71, 0.192);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
#card1 {
    border:2px solid rgb(151, 165, 122);
    text-align: center;
    background-color: #ebe5d533;
}
#coin-image {
    width:100%;
    border-color: transparent;
    
}
.card{
    border-color: transparent;
    background-color:transparent;
}
#win-lose, #wins, #losses, #tails-chosen, #heads-chosen {
    text-align: center;
    font-weight: bold;
}

